{
  "mode": 11,
  "power": "L",
  "serialPort": "/dev/ttyUSB0",
  "tipLevels": [
    {
      "ammount": 1,
      "time": 5,
      "levelA": 20,
      "levelB": 21
    },
    {
      "ammount": 2,
      "time": 15,
      "levelA": 25,
      "levelB": 26
    },
    {
      "ammount": 15,
      "time": 20,
      "levelA": 30,
      "levelB": 31
    },
    {
      "ammount": 30,
      "time": 20,
      "levelA": 35,
      "levelB": 36
    }
  ],
  "specialTips": [
    {
      "ammount": 50,
      "time": 5,
      "levelA": 45,
      "levelB": 46
    }
  ]
}
